.degrade {
    background-image:url(/img/background\ outsourcing.jpg);
    background-position: center;
    display: block;
    background-size: 100%;
}

.degrade > span {
    display: flex;    
}

.titulos {
    display: flex;
    font-size: 50px;
    color: aliceblue;
    margin-top: 70px;  
    margin-left: 40px; 
}

.contrate{
    transition: transform 500ms linear;
}

.contrate:hover{
    transform: scale(1.10);    
}

.degrade > h2 {
    font-size: 25px;
    color: aliceblue;
    margin-left: 40px;
}

.contrate {
    background-color: red;
    color: aliceblue;
    width: 170px;
    height: 50px;
    border-radius: 10px;
    margin: 0 0 30px 40px;
    font-size: 18px;
}

.texto{
    display: flex;
    margin-top: 70px;
}

.texto > div{
    text-align: left;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px 0px 0px 40px;
    width: 900px;
}

.texto > img{
    width: 25%;
    margin: -20px auto auto auto;
}

.um {
    color: #003b71;
    font-size: 42px;    
}

.dois{
    color: #003b71;
    font-size: 42px; 
    margin-left: 40px;
    margin-bottom: 60px; 
}

.beneficios{
    display: flex;
    flex-wrap: wrap;
    margin-top: 70px;
    font-size: 18px;
    text-align: center;
    margin: 20px auto;
    max-width: 1470px; 
    margin-left: 0px;
}

.beneficios > div {
    flex: 1 1 400px;
    max-width: 600px;
    margin-left: 90px;
    margin-bottom: 90px;   
}

.solucoes{
    display: flex;
    flex-wrap: wrap;
    font-size: 17px;
    margin: 0 10px 100px 40px;
    
       
}

.solucoes > div{
    flex: 1 1 350px;
    margin-left: 30px;
    text-align: left;
    margin-top: 50px;
    max-width: 800px;

}

.solucoes > img{
    margin: auto; 
    margin-top: 50px;  
}


@media(max-width: 1920px){
    .solucoes{
        max-width: 1900px;
    }

}

@media(max-width: 1842px){
    .solucoes > div{
        margin-left: 10px;        
    }

}